@import url('https://fonts.googleapis.com/css?family=Cairo');

* , .form-control{
  text-align: right;
  font-family: 'Cairo', sans-serif;
}

.text-right {
  text-align: left !important;
}

.col {
  text-align: right;
}

.mr-2 {
  margin-left: .5rem;
}

.text-xl-left {
  text-align: right !important;
}

.ml-2, .mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0 !important;
}

.mr-4, .mx-4 {
  margin-right: 0 !important;
  margin-left: 1.5rem;
}

.navbar {
  .dropdown-menu-right {
    right: auto;
    left: 0;
    .dropdown-item {
      text-align: right;
      i {
        margin-right: 0;
        margin-left: 1rem;
      }
    }
    &::before {
      right: auto;
      left: 20px;
    }
  }
}

canvas {
  direction: rtl;
}

@import "navbars/navbars";
@import "dropdowns/dropdown";